@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div @*id="header"*@ style="background-color :#A2A2A2;">
    <div class="col-md-12 container">
        <div class="row d-flex justify-content-between">
            <div class="stanfor">
                <p class="text-stanfor-header">HCS</p>
            </div>
            <div class="fullname">
                <p class="text-header-fullname">Healthcare System</p>
            </div>
            @if (@ViewBag.DoctorName!=null)
            {
                <div class="nav-item-user d-flex">
                    <li class="nav-item dropdown d-flex no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="profile-container">
                                <img class="img-profile rounded-circle" src="/asset/img/undraw_profile.svg">
                                <span class="name ml-2 d-block  d-lg-inline text-black">@ViewBag.DoctorName</span>
                            </div>

                        </a>

                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/Member/ViewDetailMember?id=@ViewBag.DoctorId">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Hồ sơ
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Home/Logout">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </li>
                </div>
            }
            
        </div>
    </div>
</div>
