@model IEnumerable<HcsBE.DTO.RoleDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hcs-Healcare System</title>
    <base href="/">
    <meta name="viewport" content="width=device-width,
            initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/css/HeaderStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/UserManagerStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/Sidebar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1d6b4c4b00.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #DEDEDE;">
    <div id="main">
        <div id="header">
        </div>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar"></div>
                    <div class="content-right col-sm p-3
                            min-vh-100">
                        <div class="header-container">
                            <h2 class="header-text">Quản lí nhân sự</h2>
                        </div>
                        <h4 class="body-content-header">Thêm Nhân Viên</h4>
                        <form class=" form-profile" action="Member/AddInformationMember" method="post" enctype="multipart/form-data">
                            <div class="col-md-12 form-group">
                                <div class="col-md-3 content-right">
                                    <div id="image-container">
                                        <img src="/asset/img/default.png"
                                             class="rounded-circle"
                                             id="uploaded-image"
                                             alt="Default Image">
                                        <input type="file"
                                               id="image-input"
                                               name="ImgLink"
                                               accept="image/*"
                                               onchange="displayImage()">
                                    </div>
                                </div>
                                <div class="col-md-9 content-left">
                                    <div class="line1 row">
                                        <div class="col-md-5
                                                form-group">
                                            <label class="title-fullname">
                                                Họ
                                                và tên
                                            </label>
                                            <input type="text"
                                                   class="fullname
                                                    form-control"
                                                   name="Name" />
                                        </div>
                                        <div class="col-md-4
                                                form-group">
                                            <label class="title-fullname">
                                                Ngày
                                                sinh
                                            </label>
                                            <input type="date"
                                                   class="dob
                                                    form-control"
                                                   name="Dob" />
                                        </div>

                                        <div class="col-md-3
                                                form-group">
                                            <label class="title-fullname">
                                                Giới
                                                tính
                                            </label>
                                            <div class="gender">
                                                <div class="form-check
                                                        form-check-inline">
                                                    <input class="form-check-input"
                                                           type="radio"
                                                           name="Gender"
                                                           id="male"
                                                           value="true">
                                                    <label class="form-check-label"
                                                           for="male">Male</label>
                                                </div>

                                                <div class="form-check
                                                        form-check-inline">
                                                    <input class="form-check-input"
                                                           type="radio"
                                                           name="Gender"
                                                           id="female"
                                                           value="false">
                                                    <label class="form-check-label"
                                                           for="female">Female</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 line2
                                            row">
                                        <label class="title-address">
                                            Quê
                                            quán
                                        </label>
                                        <input type="text"
                                               class="address
                                                form-control"
                                               name="Address" />
                                    </div>
                                    <div class="col-md-12 line3
                                            row">
                                        <div class="col-md-6
                                                form-group-phone">
                                            <label class="title-phone">
                                                Số
                                                điện thoại
                                            </label>
                                            <input type="text"
                                                   class="phone
                                                    form-control"
                                                   name="Phone" />
                                        </div>
                                        <div class="col-md-6
                                                form-group-email">
                                            <label class="title-email">Email</label>
                                            <input type="text"
                                                   class="email
                                                    form-control"
                                                   name="Gmail" />
                                        </div>

                                    </div>
                                    <div class="col-md-12 line3
                                            row">
                                        <div class=" col-md-6
                                                form-group-phone">
                                            <label class="title-role">Vị Trí Công Việc</label>
                                  
                                            <select class="role
                                                    form-control" name="RoleName">
                                                @foreach (var item in Model)
                                               {
                                                <option value="@item.RoleId">@item.RoleName</option>                                              
                                               }
                                            </select>
                                        </div>
                                        <div class="col-md-6
                                                form-group-phone">
                                            <label class="title-role">Chuyên môn</label>
                                            <input type="text"
                                                   class="role
                                                    form-control"
                                                   name="DoctorSpecialize" />
                                        </div>
                                    </div>
                                </div>
                                <div class="line5 row">
                                    <div>
                                        <button class="btn-change-profile">
                                            Thêm
                                            Nhân Viên
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript" src="~/js/HeaderScript.js"></script>
<script type="text/javascript" src="~/js/Sidebar.js"></script>
<script type="text/javascript" src="~/js/script.js"></script>
</html>

