@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-sm-auto bg-light sticky-top">
    <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">

        <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
            @if (ViewBag.RoleId == 1 || ViewBag.RoleId == 3)
            {
                <li class="nav-item-sidebar" data-section="home">
                    <a href="/Home" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <div>

                        <img class="img-icon-sidebar" src="../../asset/img/Vector.svg">
                        <p>Trang chủ</p>
                    </div>
                </a>

            </li>
            }
            @if (ViewBag.RoleId == 1 || ViewBag.RoleId == 3)
            {
                <li class="nav-item-sidebar" data-section="Invoice">
                    <a href="/Invoice" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                   data-bs-original-title="Home">
                        <img class="img-icon-sidebar" src="../../asset/img/clipboard-solid 1.svg">
                        <p>Hóa Đơn</p>
                    </a>
                </li>
            }
            
            @if (ViewBag.RoleId==1)
            {
                <li class="nav-item-sidebar" data-section="UserManage">
                    <a href="/Member" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                   data-bs-original-title="Home">
                        <img class="img-icon-sidebar" src="../../asset/img/users-solid.svg">
                        <p>Nhân sự</p>
                    </a>

                </li>
            }
            @if (ViewBag.RoleId == 1 || ViewBag.RoleId == 2)
            {
                <li class="nav-item-sidebar">
                    <a href="/MedicalRecord" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                   data-bs-original-title="Home">
                        <img class="img-icon-sidebar" src="../../asset/img/calendar-week-solid 1.svg">
                        <p>
                            Hồ sơ
                            bệnh án
                        </p>
                    </a>

                </li>
            }
            @if (ViewBag.RoleId == 1)
            {
                <li class="nav-item-sidebar" data-section="ManageSupplies">
                    <a href="/Supplies" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                   data-bs-original-title="Home">
                        <img class="img-icon-sidebar" src="../../asset/img/supplies.svg">
                        <p>Vật Tư Y Tế</p>
                    </a>

                </li>
            }           
        </ul>

    </div>
</div>
