
@model List<HcsBE.DTO.PatientDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hcs-Healcare System</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/css/HeaderStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/PatientRecordStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/Sidebar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1d6b4c4b00.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="main">
        <div id="header">
        </div>
        <div id="body-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar">
                    </div>
                    <div class="col-sm p-3 min-vh-100">

                        <h2 class="body-content-header">Thêm Bệnh Nhân</h2>
                        <form class=" form-profile" method="post" action="Patient/AddPatient">
                            <div class="col-md-12 form-group">


                                <div class="line1 row">
                                    <div class="col-md-2 form-group">
                                        <label class="patient-code">Mã bệnh nhân</label>
                                        <input type="text" class="patient-code form-control" name="pid" value="@ViewBag.Pid"
                                               readonly />
                                    </div>

                                    <div class="col-md-5 form-group">
                                        <label class="fullname">Họ và tên</label>
                                        <input type="text" class="fullname form-control" name="fullname" />

                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="dob">Ngày sinh</label>
                                        <input type="date" class="dob form-control" name="dob" />

                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="title-gender">Giới tính</label>
                                        <div class="gender">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" id="male"
                                                       value="male">
                                                <label class="form-check-label" for="male">Male</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" id="female"
                                                       value="female">
                                                <label class="form-check-label" for="female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line2 row">
                                    <div class="col-md-9 form-group">
                                        <label class="address">Địa chỉ</label>
                                        <input type="text" class="address form-control" name="address" />
                                    </div>
                                    <div class="row-cols-md-3 form-group">
                                        <label class="phone">Số điện thoại</label>
                                        <input type="text" class="phone form-control" name="phone" />
                                    </div>

                                </div>
                                <div class="line2 row">
                                    <div class="col-md-2 form-group">
                                        <label class="date-create">Chiều cao</label>
                                        <input type="text" class="date-create form-control" name="height" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="date-create">Cân nặng</label>
                                        <input type="text" class="date-create form-control" name="weight" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="date-create">Nhóm máu</label>
                                        <input type="text" class="date-create form-control" name="bloodgr" />
                                    </div>

                                    <div class="col-md-2 form-group">
                                        <label class="date-create">Huyết áp</label>
                                        <input type="text" class="date-create form-control" name="bloodpress" />
                                    </div>
                                    

                                </div>
                                <div class="row line2">
                                    <div class="col-md-4 form-group">
                                        <label class="date-create">Tiền Sử Dị Ứng</label>
                                        <input type="text" class="date-create form-control" name="createdate"/>
                                    </div>
                                </div>
                                <div class="line6">
                                    <button type="submit" class="btn-create-record float-right">Tạo hồ sơ</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script type="text/javascript" src="~/js/ServiceScript.js"></script>
<script type="text/javascript" src="~/js/Sidebar.js"></script>
<script type="text/javascript" src="~/js/HeaderScript.js"></script>

</html>