@model List<DataAccess.Entity.ServiceType>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hcs-Healcare System</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/css/HeaderStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/PatientRecordStyle.css">
    <link rel="stylesheet" type="text/css" href="~/css/Sidebar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/1d6b4c4b00.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="main">
        <div id="header">
        </div>
        <div id="body-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="sidebar">
                    </div>
                    <div class="col-sm p-3 min-vh-100">

                        <h2 class="body-content-header">Tạo hồ sơ bệnh án</h2>
                        <form class=" form-profile" method="post" action="/MedicalRecord/AddMR">
                            <div class="col-md-12 form-group">


                                <div class="line1 row">
                                    <div class="col-md-2 form-group">
                                        <label class="invoice-code">Mã hồ sơ</label>
                                        <input type="text" class="invoice-code form-control" name="invoice-code"
                                               readonly />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="patient-code">Mã bệnh nhân</label>
                                        <input type="text" class="patient-code form-control" name="patient-code"
                                               readonly />
                                    </div>

                                    <div class="col-md-3 form-group">
                                        <label class="fullname">Họ và tên</label>
                                        <input type="text" class="fullname form-control" name="fullname" />

                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="dob">Ngày sinh</label>
                                        <input type="text" class="dob form-control" name="fullname" />

                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label class="title-gender">Giới tính</label>
                                        <div class="gender">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" id="male"
                                                       value="male">
                                                <label class="form-check-label" for="male">Male</label>
                                            </div>

                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="gender" id="female"
                                                       value="female">
                                                <label class="form-check-label" for="female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line2 row">
                                    <div class="col-md-9 form-group">
                                        <label class="address">Địa chỉ</label>
                                        <input type="text" class="address form-control" name="address" />
                                    </div>
                                    <div class="row-cols-md-3 form-group">
                                        <label class="phone">Số điện thoại</label>
                                        <input type="text" class="phone form-control" name="phone" />
                                    </div>

                                </div>
                                <div class="col-md-12 line3 row">
                                    <div class="col-md-2 form-group">
                                        <label class="date-create">Chiều cao</label>
                                        <input type="text" class="date-create form-control" name="address" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="date-create">Cân nặng</label>
                                        <input type="text" class="date-create form-control" name="address" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label class="date-create">Nhóm máu</label>
                                        <input type="text" class="date-create form-control" name="address" />
                                    </div>

                                    <div class="col-md-2 form-group">
                                        <label class="date-create">Huyết áp</label>
                                        <input type="text" class="date-create form-control" name="address" />
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="date-create">Ghi chú</label>
                                        <input type="text" class="date-create form-control" name="address" />
                                    </div>

                                </div>
                                <div class="col-md-12 line4 row">
                                    <div class="col-md-3 form-group">
                                        <label class="date-create">Ngày khám</label>
                                        <input type="text" class="date-create form-control" name="address" />
                                    </div>



                                </div>
                                <div class="col-md-12 line5 row">
                                    <div class="col-md-3 form-group">
                                        <label class="date-create">Lí do khám</label>
                                        <textarea type="text" class="ReasonExamination form-control" name="address"></textarea>
                                    </div>
                                    <div class="col-md-5 form-group">
                                        <label class="date-create">Dịch vụ</label>
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    
                                                    <select id="serviceType" onchange="saveAndSendToControll(this.value, getInputValue())" class="col-md-4 ml-3" name="ServiceType">
                                                        <option value="0">Chọn phòng khám</option>
                                                        @foreach (var item in Model)
                                                        {
                                                            @if (item.ServiceTypeId == ViewBag.ServiceType)
                                                            {
                                                                <option value="@item.ServiceTypeId" selected>@item.ServiceTypeName</option>
                                                            }
                                                            <option value="@item.ServiceTypeId">@item.ServiceTypeName</option>
                                                        }
                                                    </select>
                                                    <input type="text" id="searchInput" placeholder="Filter services..." oninput="filterTable()" />
                                                </div>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <table class="table table-bordered table-header">
                                                            <thead>
                                                                <tr>
                                                                    <th>Tên dịch vụ</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                        <div class="scrollable-tbody">
                                                            <table id="serviceTable" class="table table-bordered table-body">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>siêu âm</td>
                                                                        <td><button type="button" onclick="addService('sieu am',12)">Thêm</button></td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>X quang</td>
                                                                        <td><button type="button" onclick="addService('sieu am',12)">Thêm</button></td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>xét nghiệm máu</td>
                                                                        <td><button type="button" onclick="addService('sieu am',12)">Thêm</button></td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>xét nghiệm nước tiểu</td>
                                                                        <td><button type="button" onclick="addService('sieu am',12)">Thêm</button></td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>siêu âm bụng</td>
                                                                        <td><button type="button" onclick="addService('sieu am',12)">Thêm</button></td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td>nhổ răng</td>
                                                                        <td><button type="button" onclick="addService('sieu am',12)">Thêm</button></td>

                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group ">
                                        <label class="title-email">Dịch vụ đã chọn</label>
                                        <div class="card">
                                            <div class="card-body">
                                                <table class="table table-bordered table-header">
                                                    <thead>
                                                        <tr>
                                                            <th>Tên dịch vụ</th>
                                                            <th>Giá</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div class="scrollable-tbody">
                                                    <table class="table table-bordered table-body selected-service-table">
                                                        <tbody>

                                                            <!-- Add more rows here to see the scrolling effect -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-12 line6">
                                    <button class="btn-create-record float-right">Tạo hồ sơ</button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script>
    var savedServiceType = 0;
    var savedSearchValue = "";

    function getSelectValue() {
        var selectElement = document.getElementById('serviceType');
        return selectElement.options[selectElement.selectedIndex].value;
    }

    function getInputValue() {
        var inputValue = document.getElementById('searchService').value;
        return encodeURIComponent(inputValue);
    }

    function filterTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        table = document.getElementById("serviceTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those that don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
 </script>
<script type="text/javascript" src="~/js/ServiceScript.js"></script>
<script type="text/javascript" src="~/js/Sidebar.js"></script>
<script type="text/javascript" src="~/js/HeaderScript.js"></script>

</html>